## NASA Techport Projects

In [26]:
import pandas as pd
import api
import rs

resProjects = api.getProjectsSinceDate('2024-04-22')
dfProjectsRes = pd.DataFrame(resProjects)
dfProjectsRes.head()

  acronym  projectId title website lastUpdated
0              96770                 2024-4-23
1             154830                 2024-4-22
2             157150                 2024-4-22
3             157158                 2024-4-22
4             157154                 2024-4-22

In [24]:
#esta tarea tardara un poco...

def buildDataframe():

    dfProjects = pd.DataFrame(
        columns=[
            'project_id', 
            'acronym', 
            'title', 
            'description', 
            'start_year', 
            'start_month', 
            'end_year', 
            'end_month', 
            'status_description',
            'website',
            'last_updated',
            'release_status_string',
            'organization_id',
            'organization_name',
            'organization_type_pretty'
        ]
    )

    organizations = {}
            
    indexProject = 0

    for index, row in dfProjectsRes.iterrows():

        resProject = api.getProjectById(str(row['projectId']))

        organizationId = resProject['responsibleMd']['organizationId']
        organizationFound = organizations.get(organizationId)

        #add organization detail if not exists
        if organizationFound is None:
            resOrganization = api.getOrganizationById(str(organizationId))

            #append organization detail to dfOrganization
            organizations[organizationId] = {
                'organization_id': organizationId,
                'organization_name': resOrganization['organizationName'],
                'organization_type_pretty': resOrganization['organizationTypePretty']
            }

            organizationFound = organizations.get(organizationId)

        #add project to dfProjects
        dfProjects.loc[indexProject] = [
            resProject['projectId'],
            resProject['acronym'],
            resProject['title'],
            resProject['description'],
            resProject['startYear'],
            resProject['startMonth'],
            resProject['endYear'],
            resProject['endMonth'],
            resProject['statusDescription'],
            resProject['website'],
            resProject['lastUpdated'],
            resProject['releaseStatusString'],
            organizationFound['organization_id'],
            organizationFound['organization_name'],
            organizationFound['organization_type_pretty']
        ]

        indexProject += 1
        
    return dfProjects.drop_duplicates(subset=['project_id'], keep='last')

dfProjects = buildDataframe()
dfProjects.head()

,project_id,acronym,title,description,start_year,start_month,end_year,end_month,status_description,website,last_updated,release_status_string,organization_id,organization_name,organization_type_pretty
0,96770,CASALS,"SWaP-efficient, fast-wavelength-steering and t...",<p>We propose to integrate next-generation lid...,2018,10,2024,9,Active,https://etd.gsfc.nasa.gov/,2024-4-23,Released,4910,Mission Support Directorate,NASA Mission Directorate
1,154830,,Radiation Tolerant Displays,<p>The Radiation Tolerant Displays project aim...,2022,10,2025,9,Active,,2024-4-22,Released,9525,Exploration Systems Development Mission Direct...,NASA Mission Directorate
2,157150,,CC22 NASA Particle Partition Challenge,"<p>Currently under development at NASA, the Co...",2022,8,2023,4,Completed,,2024-4-22,Released,4875,Space Technology Mission Directorate,NASA Mission Directorate
3,157158,,NASA Data Centers Energy Solutions Expertise,<p>NASA's Earth Science Division's Applied Sci...,2022,9,2023,11,Completed,,2024-4-22,Released,4875,Space Technology Mission Directorate,NASA Mission Directorate
4,157154,,CC23 Positive Connections,"Under ""Starburst: A Revolutionary Under-Constr...",2023,7,2023,11,Completed,,2024-4-22,Released,4875,Space Technology Mission Directorate,NASA Mission Directorate

## Redshift

In [27]:
loaded = rs.loadDataIntoRedshift(dfProjects)

if loaded:
    print("Data loaded into Redshift")
else:
    print("Data not loaded into Redshift")

- conectado a redshift
- tabla projects eliminada
- tabla projects creada
- datos insertados en la tabla projects
Data loaded into Redshift